<div id="mainExists"></div>
<header>
	<h1 class="logo">PREMIUM LABS</h1>
	<nav>
		<ul class="nav__links">
			<li><a class="navHome">Home</a></li>
			<li><a class="navChat">Premium Chat</a></li>
			<li><a class="navReq">Priority Requests</a></li>
			<li><a class="navBrow cta">Unblocked Browser</a></li>
			<li>
				<a
					href="http://sites.google.com/view/teleport-hub"
					target="_blank"
					rel="noopener noreferrer"
					>Teleport Hub</a
				>
			</li>
		</ul>
	</nav>
	<p class="menu cta">Menu</p>
</header>
<div id="mobile__menu" class="overlay">
	<a class="close">&times;</a>
	<div class="overlay__content">
		<a class="navHome">Home</a>
		<a class="navChat">Premium Chat</a>
		<a class="navReq">Priority Requests</a>
		<b><a class="navBrow">Unblocked Browser</a></b>
		<a
			href="http://sites.google.com/view/teleport-hub"
			target="_blank"
			rel="noopener noreferrer"
			>Teleport Hub</a
		>
	</div>
</div>
<p>
	<b>What's an unblocked browser?</b> <br />This browser allows you to search up
	anything without it being blocked!
</p>
<div class="center">
	<iframe
		src="https://replit.com/@UnblockedLabs/Google-Chrome?v=1&embed=true#main.py"
		style="border: 0px #ffffff none"
		name="browser"
		scrolling="no"
		frameborder="1"
		marginheight="0px"
		marginwidth="0px"
		height="800px"
		width="1200px"
		allowfullscreen
	></iframe>
</div>
<script src="../js/mainMobile.js"></script>
<link rel="stylesheet" href="../css/main.css" />
