<div id="mainExists"></div>
<header>
	<h1 class="logo">PREMIUM LABS</h1>
	<nav>
		<ul class="nav__links">
			<li><a class="navHome">Home</a></li>
			<li><a class="navChat cta">Premium Chat</a></li>
			<li><a class="navReq">Priority Requests</a></li>
			<li><a class="navBrow">Unblocked Browser</a></li>
			<li>
				<a
					href="http://sites.google.com/view/teleport-hub"
					target="_blank"
					rel="noopener noreferrer"
					>Teleport Hub</a
				>
			</li>
		</ul>
	</nav>
	<p class="menu cta">Menu</p>
</header>
<div id="mobile__menu" class="overlay">
	<a class="close">&times;</a>
	<div class="overlay__content">
		<a class="navHome">Home</a>
		<b><a class="navChat">Premium Chat</a></b>
		<a class="navReq">Priority Requests</a>
		<a class="navBrow">Unblocked Browser</a>
		<a
			href="http://sites.google.com/view/teleport-hub"
			target="_blank"
			rel="noopener noreferrer"
			>Teleport Hub</a
		>
	</div>
</div>
<p>
	<b>What is premium chat?</b><br />Here, you can talk with other people who
	have premium!
</p>
<iframe
	src="https://organizations.minnit.chat/9150027181385664929/Main?embed&nickname="
	style="border: none; width: 90%; height: 750px"
	class="center"
	allowTransparency="true"
></iframe>
<script src="../js/mainMobile.js"></script>
<link rel="stylesheet" href="../css/main.css" />
