<div id="mainExists"></div>
<header>
	<h1 class="logo">PREMIUM LABS</h1>
	<nav>
		<ul class="nav__links">
			<li><a class="navHome cta">Home</a></li>
			<li><a class="navChat">Premium Chat</a></li>
			<li><a class="navReq">Priority Requests</a></li>
			<li><a class="navBrow">Unblocked Browser</a></li>
			<li>
				<a
					href="http://sites.google.com/view/teleport-hub"
					target="_blank"
					rel="noopener noreferrer"
					>Teleport Hub</a
				>
			</li>
		</ul>
	</nav>
	<p class="menu cta">Menu</p>
</header>
<div id="mobile__menu" class="overlay">
	<a class="close">&times;</a>
	<div class="overlay__content">
		<b><a class="navHome">Home</a></b>
		<a class="navChat">Premium Chat</a>
		<a class="navReq">Priority Requests</a>
		<a class="navBrow">Unblocked Browser</a>
		<a
			href="http://sites.google.com/view/teleport-hub"
			target="_blank"
			rel="noopener noreferrer"
			>Teleport Hub</a
		>
	</div>
</div>
<p>Hey! Thanks for being a premium member. <br />Some perks you get are:</p>
<ul>
	<li><b>Premium Chat</b> - Chat with other premium members!</li>
	<li>
		<b>Priority Requests</b> - Request a game and get it added the same day!
	</li>
	<li>
		<b>Unblocked Browser</b> - Search up things that your school filter has
		blocked!
	</li>
</ul>

<script src="../js/mainMobile.js"></script>
<link rel="stylesheet" href="../css/main.css" />
