<div id="mainExists"></div>
<header>
	<h1 class="logo">PREMIUM LABS</h1>
	<nav>
		<ul class="nav__links">
			<li><a class="navHome">Home</a></li>
			<li><a class="navChat">Premium Chat</a></li>
			<li><a class="navReq cta">Priority Requests</a></li>
			<li><a class="navBrow">Unblocked Browser</a></li>
			<li>
				<a
					href="http://sites.google.com/view/teleport-hub"
					target="_blank"
					rel="noopener noreferrer"
					>Teleport Hub</a
				>
			</li>
		</ul>
	</nav>
	<p class="menu cta">Menu</p>
</header>
<div id="mobile__menu" class="overlay">
	<a class="close">&times;</a>
	<div class="overlay__content">
		<a class="navHome">Home</a>
		<a class="navChat">Premium Chat</a>
		<b><a class="navReq">Priority Requests</a></b>
		<a class="navBrow">Unblocked Browser</a>
		<a
			href="http://sites.google.com/view/teleport-hub"
			target="_blank"
			rel="noopener noreferrer"
			>Teleport Hub</a
		>
	</div>
</div>
<p>
	<b>What are priority requests?</b><br />Unlike normal requests, priority
	requests get added the same day that you requested!
</p>
<iframe
	src="https://docs.google.com/forms/d/e/1FAIpQLSds47Sd4JkKSYgMqw5up5Q4MFHtZvIsRy9OKjgrJs7_vVaZuA/viewform?embedded=true"
	width="640"
	height="709"
	frameborder="0"
	marginheight="0"
	marginwidth="0"
	class="center"
	>Loading…</iframe
>
<script src="../js/mainMobile.js"></script>
<link rel="stylesheet" href="../css/main.css" />
